<div class="container">
    <table>
        <tr>
            <th>|     Item(s)    |</th>
            <th>|     Quantity   |</th>
            <th>|   Unit Price   |</th>
            <th>|     Prices     |</th>
        </tr>
        <tr *ngFor="let product of UserCart">
            <td><strong>{{product.Title}}</strong></td>
            <td>{{product.Quantity}}</td>
            <td>$ {{product.TotalPrice/product.Quantity}}</td>
            <td>$ {{product.TotalPrice}}</td>
        </tr>
        <tr>    
            <td colspan="2"></td>
            <td>
                 SubTotal : 
            </td>
                <td>
                   $ {{SubTotal| number : '1.2-2'}}
                </td>
        </tr>
        <tr>    
            <td colspan="2"></td>
            <td>
                <strong>
                    Tax Applicable :
                </strong>
            </td>
            <td>
                <strong>
                    $ {{TaxApplicable| number : '1.2-2'}}
                </strong>
            </td>
        </tr>
        <tr>    
            <td colspan="2"></td>
            <td>
                <strong>
                    Total Billable Amount : 
                </strong>
            </td>
            <td>
                <strong>
                    $ {{BillableAmount| number : '1.2-2'}}
                </strong>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button class="checkout">
                    checkout!<span class="glyphicon glyphicon-shopping-cart"></span>    
                </button>
            </td>
            <td colspan="2">
                <button class="go-back">
                    <- Go Back
                </button>
            </td>
        </tr>
    </table>
</div>